
/**************(I)lado izquierdo de desarrollo de noticia********************/
#Noticiar{width:390px; height:auto; border:yellow 0px solid;}
    #tituloNoticia{border:red 0px solid;}
        #cajaTituloNoticia{border:blue 0px solid; width:auto; height:auto;}
    #autorFecha{border:yellow 0px solid; width:387px; height:30px;}
        #autor{border:green 0px solid; width:273px; height:30px; float:left;}
            #cajaAutor{border:red 0px solid; width:auto; height:auto; float:left;}
        #fecha{border:green 0px solid; width:110px; height:30px; float:left;} 
            #cajaFecha{border:red 0px solid; width:auto; height:auto; float:right;}
    #descripcion{border:red 0px solid; width:380px; height:auto;}      
        #cajaDescripcion{border:red 0px solid; width:380px; height:auto;}
    #publicidadNoti1{border:blue 1px solid; width:380px; height:auto; margin-top:10px;}
        #cajaPubliNoti1{border:blue 1px solid; width:380px; height:auto;}
    #formComentarios{border:blue 0px solid; width:380px; height:auto; margin-top:20px;}
        #tituloComen{border:blue 1px solid; width:380px; height:auto; }
            #cajaTituComen{border:blue 1px solid; width:auto; height:auto; }
    /**************(I)formulario************/
    #capaEncimaformulario{position:absolute; z-index: 2;
                          border: black 1px solid; background-color:#bca;}
   
    #formulario{border:black 0px solid; width:370px; padding-top: 10px;padding-bottom: 10px;z-index: 1}
        #nombreTotal{width:370px; border:red 0px solid;font-family: Agency FB; font-size:16px; float:left;}
            #nombre{width: 370px; float: left;border:red 0px solid;}
                #cajaNombre{width:auto; height:auto;border:black 0px solid;float:left;}
            #textNombre{width:350px; float: left;border:white 0px solid;}
                #cajaTextNombre{width:auto;height: auto;border:black 0px solid; float:left;}
                #avisoN{width:20px;height:20px;float: left;border:black 0px solid;margin-top:1px}
                    #cajaAvisoN{width:auto; height:auto;}                        
            #advertenciaName{width:370px;float:right;border:red 0px solid; display:none;}
                #cajaAdvName{width:265px;float:right;border:red 0px solid; color:red;
                                background:thistle;margin-right:40px;}

        #separadorForm{height:65px; width: 350px; }

        #correoTotal{width:370px;border:red 0px solid;font-family: Agency FB; font-size:16px; float:left;}    
            #correo{width: 370px; float: left;border:red 0px solid;}
                #cajaCorreo{width:auto; height:auto;border:black 0px solid;float:left;}
            #textCorreo{width:350px; float: left;border:white 0px solid;}
                #cajaTextCorreo{width:auto;height: auto;border:black 0px solid; float:left;}
                #avisoC1{width:20px;height:20px;float: left;border:black 0px solid;margin-top:1px}
                    #cajaAvisoC1{width:auto; height:auto;}
            #advertenciaCorreo1{width:370px;float:left;border:red 0px solid; display:none;}
                #cajaAdvCorreo1{width:265px;float:right;border:red 0px solid; color:red;
                                background:thistle;margin-right:40px;}

        #correoTotal2{width:370px;border:red 0px solid;font-family: Agency FB; font-size:16px; float:left;}    
            #correo2{width: 370px; float: left;border:white 0px solid;}
                #cajaCorreo2{width: auto;height: auto;border:black 0px solid;float:left;}
            #textCorreo2{width:350px; float: left;border:white 0px solid;}
                #cajaTextCorreo2{width:auto;height: auto;border:black 0px solid; float:left;}
                #avisoC2{width:20px;height:20px;float: left;border:black 0px solid;margin-top:2px}
                    #cajaAvisoC2{width:auto; height:auto;}
            #advertenciaCorreo2{width:370px;float:left;border:red 0px solid; display:none;}
                #cajaAdvCorreo2{width:265px;float:right;border:red 0px solid; color:red;
                                background:thistle;margin-right:40px;}

        #checkboxTotal{width:370px;border:white 0px solid; display:none;}
            #checkBox{width: 20px; float: left;border:white 0px solid;}
                #cajaCheckBox{width:auto; height:auto;}
            #textCheck{width: 365px; float:right;border:white 0px solid;}
                #cajaTextCheck{font-family: Agency FB; font-size:16px;float: left;}


        #mensajeTotal{width:370px;border:black 0px solid;font-family: Agency FB; font-size:16px;}
            #mensaje{width:370px;}
                #cajaMensaje{width:auto; height:auto; float:left; }

            #textMensaje{width:370px;}
                #cajaTextMensaje{width:auto; height:auto;}

            #advertenciaMensaje{width:370px;float:left;border:red 0px solid; display:none;}
                #cajaAdvMensaje{width:365px;float:right;border:red 0px solid; color:red;
                                background:thistle;margin-right:7px;}

        #enviarTotal{width:370px; font-family: Agency FB; font-size:16px;}
            #enviar{width:370px;}
                #cajaEnviar{width:auto; height:auto;}                                   
    /**************(I)formulario************/
    
/**************(F)lado izquierdo de desarrollo de noticia********************/

/**************(I)lado derecho de desarrollo de noticia(osea la parte del video)********************/
#video{width:390px; height:auto; border:red 0px solid; }
    #videoCaja{width:381px; height:301px; border: black 0px solid;}
        #videoEncap{width:380px; height:300px; border: black 0px solid;}
    #datVideo{width:380px; height:30px; border: red 0px solid;}
        #numComents{width:300px; height:29px; border:blue 0px solid; float:left;}
            #cajanumComents{width:auto; height:auto; float:left; border: black 0px solid;
                            margin-top:6px;}   
    #separadorVerti{width:381px; height:10px; border: red 0px solid;}
    #comentarios{width:381px; height:auto; border:#9393FF 0px solid;}
        
    /****(I)la esttructura de estos css estara diseñada por php en estilosPhp(no esta)*****/
        #comentario0{width:379px; height:auto; border: black 0px solid;}
            #dataComen0{width:379px; height:18px; border:blue 0px solid;}
                #nombrePerComen0{width:188px ; height:17px; border:red 0px solid; float:left;}
                    #EncaNombrePerComen0{float:left; color: brown;}
                #fechaComen0{width:187px ; height:17px; border:red 0px solid; float:right;}
                    #EncaFechaComen0{float:right;}
            #comentEnSi0{width:375px; height:auto; border:blue 0px solid;}
                #EncaComentEnSi0{width:375px; height:auto;}
                
        #separadorVertiComents{height:15px; width:100px; border:blue 0px solid;}
        
        #ParteControladorComents{width:390px; height:80px; border:green 0px solid;}
            #nuevosComen{width:30px; height:40px; border:#99F 1px solid; float:left; margin-top:15px;
                         margin-left:13px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }     
                #EncaNuevosComen{width:auto; height:auto; margin-top:13px;}
            #controladorComents{width:280px; height:40px; border:blue 0px solid; margin-top:15px; float:left;
                                margin-left:10px;}                
                /*#tagControComemn0{height:39px; border:#999 1px solid; float:left;
                                  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }*/
                    #EncaTagControComemn0{width:auto; height:auto; border:green 0px solid; margin-top:12px;}
            #antiguosComen{width:30px; height:40px; border:#99F 1px solid; float:left;  margin-top:15px;
                           margin-left:10px; margin-right:13px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
                #EncaAntiguosComen{width:auto; height:auto; margin-top:13px;}
                           
            #verTodosComents{width:390px; height:auto; border:blue 0px solid; margin-top:1px;}
        /****(F)la esttructura de estos css estara diseñada por php en estilosPhp(no esta)*****/
        
/**************(F)lado derecho de desarrollo de noticia(osea la parte del video)********************/
        
    