body{ margin-left:0px; margin-top:0px; font-family:Arial;}
#principal{ width:990px; font-size:12px}
	#header{ width:990px; height:160px; color:#F69; float:left}
		#headerIzquierda{ width:405px; height:160px; background-color:#99F; color:#0F3; float:left;}
			#bienvenida{ width:405px; height:auto; background-color: #80DBFD; float:left; }
				#cajaBienvenida{ width:405px; height:auto; color:#6767B4; font-style:italic;}
		#headerCentro{ width:180px; height:160px; color:#930; float:left;}
			#contenedorImagen{ width:180px; height:auto; padding-top:10px; float:left;}
		#headerDerecha{ width:405px; height:160px; background-color:#99F; color:#036; float:left;}
		
	#cuerpo{ width:990px; height:auto; background-color:#EAEAEA; color:#FFF; float:left; border-left-width:1px;
			 border-left-style:ridge; border-left-color:#9393FF; border-right-width:1px; border-right-style:ridge;
			 border-right-color:#9393FF;}	
			 
		#parteIzquierda{ width:405px;height:auto; color: #6767B4; float:left;}
			#titulo{ width:405px; height:auto; float:left;}
				#cajaTitulo{ width:380px; height:auto; font-style:normal; font-weight:bold;}
				#linea{ border-color:#0080FF; border-width:2px;}
			#separadorEnColum{ width:405px; height:10px; float:left;}
			#formulario{ width:405px; height:auto; text-align:left; padding-left:10px;}
				#casilla{ width:405px; height:30px; float:left;}
					#cajaCasilla{ width:450px; height:auto; padding-top:5px; float:left;}
				#casillaTexto{ width:405px; height:auto; float:left;}
					#cajaCasillaTexto{ width:405px; height:auto; float:left; padding-top:3px;}	
					#cajaCasillaNombreCategoria{ width:auto; height:auto; padding-top:5px; float:left;}
					#cajaCasillaCategoriaComboBox{ width:auto; height:auto; padding-top:5px; float:left; padding-right:20px;}
					#cajaCasiilaCategoriaCrear{  width:auto; height:auto; padding-top:5px; float:left;}
			/************************************************* indexxxxxxx ******************************************************************/		
			#noticias{ width:380px; height:auto;}
				#noticia{ width:380px; height:auto; float:left;  -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; 
                                          background-color: #d7eff5; cursor: pointer;}
						#titulo{ width:370px; height:15px; float:left; padding-left:5px}
						#categori{ width:245px; height:15px; text-align:left; float:left; font-weight:bold;}
						#fechaNoti{ width:125px; height:15px; text-align:right; float:right;}
					#separador{width:380px; height:auto; float:left; padding-right:10px}
						#separadorLineaI{ width:150px; height:auto;  float:left; border:#06F 1px solid}
						#separadorLineaD{ width:150px; height:auto; float:right; border:#06F 1px solid}
					#textNoti{ width:370px; height:auto; padding-top:30px}		
						#datosNoticia{ width:370px; height:auto; float:left; text-align:justify;}
							#tituloNoti{ width:370px; height:15px; text-align:left; float:left; font-weight:bold;
                                                                     border:#06F 0px solid}
                                                        #dataYvideo{width:370px; height:auto; float:left; border:#06F 0px solid}
                                                            #adelantoDetalle{width:250px; height:auto; float:left; border:#06F 0px solid}
                                                                #encapAdelantoDetalle{width:245px}
                                                            #videoAdelanto{width:120px; height:auto; float:right; border:#06F 0px solid}
                                                                #encapVideoAadelanto{}
					#lastNoticia{ width:370px; height:auto; float:left; padding-top:5px; padding-left:5px}
						#meGusta{ width:205px; height:15px; text-align:left; float:left; font-size:12px; font-weight:bold}
							#imagenDedo{ width:12px; height:12px; float:left;}
							#letraGusta{ width:88px; height:auto; float:left;}
						#fechaNoticia{width:165px; height:15px; text-align:right; float:left;}	
						#lineaSuave{ width:380px; height:10px; float:left;}
					#atras{ width:380px; height:auto; float:left; background-color:transparent;}
					#adelante{ width:380px; height:auto; float:left; background-color:transparent;}
						#caja{ width:190px; height:auto; float:left;}
							#imagenFlecha{ width:auto; height:auto; padding-right:2px; float:right;}
							#palabra{ width:auto; height:auto; padding-top:7px; padding-left:2px; color:#069; float:left;}
							
							#palabraD{ width:auto; height:auto; padding-top:7px; padding-right:2px; color:#069; float:right;}
							#imagenFlechaD{ width:auto; height:auto; padding-left:2px;float:left;}
							
							
		#parteCentro{ width:180px; height:auto; background-color:black; color:#FFF; float:left;}
			#buscador{ width:180px; height:35px; background-color:#80DBFD; float:left;}
				#cajaBuscador{ width:180px; height:auto; padding-top:5px; float:left;}
					#inputSearch{ width:120px; height: 15px}
			#menu{ width:180px; height:auto; background-color:black; float:left;}
                            #cajaBotones{border:brown 0px solid; width:180px; height:auto; margin-top:5px; float:left;}
				#botones{border:blue 2px solid; width:176px; height:30px; margin-top:5px; background-color:#99F;
                                         -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
                                         cursor:pointer;
                                        }	
                                    #cajaBoton{width:auto; height:auto; padding-top:7px;}
                                #seccionesMenus{width:178px; height:auto; float:left; display:none;border:blue 1px solid;}    
                                    #catSub0{border:red 0px solid; width:178px; height:25px; background-color:#DFE0FF; float:left; color:#000;}
                                        #cajaCatSub0{border:blue 0px solid; width:auto; height:auto; margin-top:4px; }
					
			
		#parteDerecha{ width:405px; height:auto; color:#6767B4; float:left;}
			#titulodere{ width:405px; height:auto; float:left;}
				#cajaTituloDere{ width:405px; height:auto; font-weight:bold; float:left;}
			#movimientosWeb{ width:405px; height:auto; float:left;}
	
	#lastHeader{ width:990px; height:37px; font-size:10px; background-color:#666; color:#FFF; float:left;
                    border-left-width:1px; border-left-style:ridge; border-left-color:#999; border-right-width:1px;
                    border-right-style:ridge; border-right-color:#999;}	
				 
/*******************************(S)estilos de entrada administrador**************************************************/

#entrada{ width:250px; height:400px; ; text-align:left}				 
	#cajaEntrada{ width:250px; height:auto; padding-top:10px; float:left; background-color:#80DBFD; padding-left:10px;}
/*******************************(E)estilos de entrada administrador**************************************************/        

/*******************************(S)styles of administrato^***************************************/
#answerFromBD{border:brown 1px solid; color:red; font-size:25px;}
/*******************************(E)styles of administrato^***************************************/